# Copyright (c) 2022 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

if BOARD_INTEL_ADSP_ACE30_PTL_SIM

config BOARD
	default "intel_adsp_ace30_ptl_sim"


endif # BOARD_INTEL_ADSP_ACE30_PTL_SIM

if BOARD_INTEL_ADSP_ACE30_PTL

config BOARD
	default "intel_adsp_ace30_ptl"

endif # BOARD_INTEL_ADSP_ACE30_PTL
