# Copyright (c) 2022 Intel Corporation
# SPDX-License-Identifier: Apache-2.0


if SOC_INTEL_ACE30_PTL

config SOC
	string
	default "intel_ace30_ptl"

config MP_NUM_CPUS
	default 3

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 400000000 if XTENSA_TIMER
	default 1000000 if BOARD_INTEL_ADSP_ACE30_PTL_SIM
	default 19200000 if INTEL_ADSP_TIMER

config SYS_CLOCK_TICKS_PER_SEC
	default 1000 if BOARD_INTEL_ADSP_ACE30_PTL_SIM
	default 50000

endif

