# Copyright (c) 2022 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

config SENSS
	bool "Sensor Subsystem"
	default y
	depends on DT_HAS_ZEPHYR_SENSS_ENABLED
	select RING_BUFFER
	help
	  Enable Sensor Subsystem.

if SENSS

module = SENSS
module-str = senss
source "subsys/logging/Kconfig.template.log_config"

config SENSS_MAX_SENSOR_COUNT
	int "maximum sensor count for senss"
	depends on SENSS
	default 128
	help
	  This is the maximum sensor count supported for senss
	  Typical values are 128

config SENSS_MAX_REPORTER_COUNT
	int "maximum reporters count for an client sensor"
	depends on SENSS
	default 10
	help
	  This is the maximum sensor reporeters count supported for a sensor
	  Typical values are 10

config SENSS_MAX_SENSITIVITY_COUNT
	int "maximum sensitivity count one sensor could support"
	depends on SENSS
	default 6
	help
	  This is the maximum sensitivity count one sensor could support
	  Typical values are 6

config SENSS_MAX_HANDLE_COUNT
	int "maximum handle count"
	depends on SENSS
	default 256
	help
	  This is the maximum handle count senss could support
	  when sensor is opened by applcaiton, senss_open_sensor()
	  is called, handle count will accumulate. Sensor connection will
	  be created for each hanle
	  Typical values are 256

config SENSS_RING_BUF_SIZE
	int "ring buf size to store sensor data"
	depends on SENSS
	default 16384
	help
	  This is the ring buffer to store sensor data that
	  will be posted to application
	  Typical values are 16 * 1024

config SENSS_MAX_SENSOR_DATA_SIZE
	int "maximum sensor data size"
	depends on SENSS
	default 64
	help
	  This is the maximum sensor data size senss could support
	  when sensor is posting data to client, sensor management would
	  get no more than SENSS_MAX_SENSOR_DATA_SIZE sensor count from ring buffer
	  Typical values are 64

config SENSS_RUNTIME_THREAD_STACK_SIZE
	int "stack size for sensor runtime thread"
	depends on SENSS
	default 4096
	help
	  This is the stack size for sensor runtime thread
	  Typical values are 4096

config SENSS_DISPATCH_THREAD_STACK_SIZE
	int "stack size for sensor dispatch thread"
	depends on SENSS
	default 1024
	help
	  This is the stack size for sensor dispatch thread
	  Typical values are 1024

config SENSS_RUNTIME_THREAD_PRIORITY
	int "priority for sensor subsysterm runtime thread"
	depends on SENSS
	default 9
	help
	  This is the thread priority for sensor subsysterm runtime thread
	  Ring buffer data is stored by runtime thread, and then give semaphore
	  to notify dispatch thread, runtime thread priority should lower than
	  dispatch thread priority to ensure dispatch thread could fetch data as
	  soon as runtime thread give semaphore. Take for example, if runtime
	  priority is higher than dispatch thread, and runtime running in full
	  loadering with no sleep, then dispatch thread has no change to fetch
	  data, then ring buf will always be put into data until overflow.
	  Typical values are 9

config SENSS_DISPATCH_THREAD_PRIORITY
	int "priority for sensor dispatch thread"
	depends on SENSS
	default 8
	help
	  This is the thread priority for sensor subsystem dispatch thread
	  Ring buffer data should be fetched ASAP, so Dispatch
	  thread priority should be higher than runtime thread
	  Typical values are 8

source "subsys/senss/sensor/phy_3d_sensor/Kconfig"
source "subsys/senss/sensor/motion_detector/Kconfig"
source "subsys/senss/sensor/hinge_angle/Kconfig"

endif # SENSS
